.container{
   height: 550px;
   box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.466);
   
}
header{
   margin: 20px auto;
   top: 20px;
   display: flexbox;
   position: relative;
}
header .button{
   color: rgb(255, 196, 0);
   transition: 0.3s;
   align-items: center;
}
ul{
   margin-top: 20px;
   display: block;
   gap: 20px;
   grid-template-columns: 1fr 1fr;
}
li{
   display: inline-flex;
   margin-left: 10px;
   margin-bottom: 30px;

}
li .contato-info{
   width: 500px;
   box-shadow: 2px 2px 5px rgb(0,0,0);
}
li .contato-info .more-info {
   display: none;
   transition: 0.3s;
}
li button{
   align-items: flex-end;
   width: 30px;
   height: 30px;
   border: none;
   background-color: transparent;
}
.FiTrash2, .FiChevronRight{
   margin-left: -120px;
}
li .FiChevronRight{
   transform: none;
   transition: 0.3s;
}
li p{
   margin: 10px;
   text-align: initial;
}
li .number{
   color: blue;
   text-decoration: underline;
   cursor: pointer;
  }