.new-contato-container {
   max-width: 800px;
   display: inline-block;
   margin: 100px 20% auto;
   align-items: center;
   justify-content: center;
}

.new-contato-container .content {
   height: 400px;
   padding: 120px;
   background: #fff;
   box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.466);
   display: flex;
   align-items: center;
}
.new-contato-container .content header {
   margin-right: 60px;
}
.new-contato-container .content header h1 {
   width: 200px;
   margin-left: 20px;
   font-size: 32px;
}
.new-contato-container .content form {
   width: 50%;
   max-width: 150px;
   position: relative;
   left: -50px;
   padding: 10%;
   display: grid;
   align-items: center;
}

.new-contato-container .content form input {
   margin-top: 8px;
   height: 40px;
}
.new-contato-container .content button{
   position: relative;
   margin: 5px 50px auto;
   width: 100px;
   height: 30px;
   border: none;
   background: yellow;
}