.container{
   min-height: 500px;
   box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.466);
   margin-bottom: 30px;
   padding: 5px;
}
header{
   margin: 20px auto;
   position: relative;
}
.task-container{
   max-width: 400px;
   min-height: 100px;
   box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.466);
   margin: 20px;
}
.task-container section {
   display: flex;
   padding: 5px;
   align-items: center;
   max-width: 300px;
   position: relative;
   left: 30%;
   bottom: -10px;
}
.task-container section h3{
   padding: 10px;
}
.task-container section .button{
   color: rgb(255, 196, 0);
   padding: 10px;
}
ul{
   display: grid;
   position: relative;
   align-items: center;
   grid-template-columns: 1fr;
}
ul li.task {
   max-width: 250px;
}
ul li{
   display: flex;
   position: relative;
   margin: 10px;
   align-items: flex-start;
}
ul li .task-info{
   min-width: 350px;
   box-shadow: 2px 2px 5px rgb(0,0,0);
}
ul li .task-info .more-info {
   display: none;
   transition: 0.3s;
}
ul li button{
   align-items: flex-end;
   width: 30px;
   height: 30px;
   border: none;
   background-color: transparent;
}
.FiXSquare, .FiChevronRight{
   position: static;
}
.complete-task{
   position: -webkit-sticky;
   left: -30px;
}
.more-info{
   left: -20px;
}
ul li .FiChevronRight{
   transform: none;
   transition: 0.3s;
}
ul li p{
   margin: 10px;
   text-align: initial;
}
ul li .data{
   color: blue;
   text-decoration: underline;
   cursor: pointer;
}